{% extends 'base.html' %}

{% block content %}
<section class="vf-grid vf-grid__col-3 | vf-card-container | vf-u-fullbleed vf-u-background-color-ui--grey--light">
    <div class="vf-section-header vf-grid__col--span-3">
        <h2 class="vf-section-header__heading">BGC Data Resources</h2>
    </div>
    <div class="vf-grid__col--span-2">
        <div class="vf-grid vf-grid__col-2">
            <article class="vf-card vf-card--brand vf-card--bordered">
                <div class="vf-card__content | vf-stack vf-stack--400">
                    <h3 class="vf-card__heading">
                        <a class="vf-card__link" href="{% url 'results_page' %}">Browse Samples</a>
                    </h3>
                    <p class="vf-card__text">Explore our extensive collection of biosynthetic gene cluster samples.</p>
                </div>
            </article>
            <!-- Repeat similar blocks for other resources -->
        </div>
    </div>
</section>
{% endblock content %}
